@charset "UTF-8";

/* INICIO CSS AREA CULTURA */
main{
    padding: 2em 0em;
}
.noticias_cultura{
    box-shadow: 3px 4px 4px 3px rgba(85, 85, 85, 0.5);
    padding: 20px;
    background-color: #1d2f6f;
    color: white;
    border-radius: 2em;
}
.notícia_mobile{
    box-shadow: 0px 3px 3px 0px rgba(85, 85, 85, 0.2);
    padding: .5em .4em 0em .4em;
    background-color: #00a6a659;
    border-radius: 1em;
}
.notícia_mobile p{
    font-size: 1.1em;
    font-weight: bold;
}
.conhecamais{
    background-color: #00a6a6;
    border-radius: 2em;
    margin-top: 1em;
    box-shadow: 0px 2px 4px 3px rgba(85, 85, 85, 0.5);
}
#culturasr article{
    text-align: justify;
}
.monumento_cultural{
    border: 3px solid;
    border-radius: 2em;
    background-color: #ff9f1c;
    box-shadow: 0px 2px 1px 3px rgba(85, 85, 85, 0.5);
    padding-top: 1em;
    margin-bottom: 2em;
}
.secao_artistas{
    margin-top: 1em;
}
.grupos{
    border: 3px solid;
    border-radius: 1em;
    background-color: #2d4739;
    color: white;
    box-shadow: 0px 3px 4px 2px rgba(85, 85, 85, 0.5);
}
.grupo,.jamais_vistos{
    padding: .5em 1em;
    border-right: 1px solid black;
}
.jamais_vistos{
    border: none;
}
.festasagosto, .exposr{
    background-color: #1d2f6f;
    color: white;
    padding: .5em .5em;
    border-radius: 2em;
    margin-bottom: 1.3em;
    box-shadow: 0px 3px 3px 3px rgba(85, 85, 85, 0.5);
}
.festasagosto{
    margin-right: 2em;
}
.botao_cultura{
    margin-left: 65em;
}
.botao_agenda{
    margin-left: 30em;
}
/* FIM CSS AREA CULTURA */