@charset "UTF-8";

/* INICIO CSS AREA EMPRESA */

.btn-vermais{
    color: white;
    background-color: #FF9F1C;
    text-transform: uppercase;
}
.img_diario{
    margin-left: 1em;
    margin-top: 1em;
}

.img_diario:hover{
    opacity: 0.8;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    transform: scale(1.1);
}

.emp_page_link{
    margin: 1em;
}

.emp_textos{
    margin-top: 2em;
    margin-left: 1em;
}

.emp_position_a{
    position: relative;
    width: fit-content;
    margin: auto;
}

.emp_position_r{
    position: absolute;
    bottom: 0;
    right: 0;
}

.pages-empresas{
    margin-top: 2em;
    margin-bottom: 3em;
}
main.empresa{
    padding: 1em 0em;
}
.imagemcentral_empresas{
    width: 100%;
}
.link_home{
    background-color: #00a6a6;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 2em;
    padding: .5em 1em;
    text-decoration: none;
    margin-bottom: 5em;
}
.section_diario a{
    height: 10%;
}
.botao_empresa{
    margin-left: 60em;
    background-color: #1d2f6f;
    color: white;
    box-shadow: 2px 2px rgba(78, 78, 78, 0.2);
}
.iptu{
    border: 1px solid;
    background-color: #D9D9D9;
    margin-top: 2em;
    box-shadow: 0px 2px 3px 2px rgba(78, 78, 78, 0.2);
}
#pag_iptu{
    margin: 2em -1em;
}
.head_iptu{
    background-color: #1d2f6f;
    color: #FFFFFF;
}
.edicao{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
    border-radius: .6em;
    padding: 1em 0em;
    margin-top: 2em;

}
.botoes_diario{
    background-color: #1d2f6f;
    color: white;
    padding: 0.5em 3em 0.5em 3em;
}

.botoes_diario:hover{
    background-color: #3552B9;
    color: white;
}

form.cadastrojuridico{
    border: 1px solid;
    padding: 1em 2.5em;
    box-shadow: 3px 4px 5px 3px rgba(78, 78, 78, 0.3);
}
select{
    height: 54%;
    border-radius: .3em;
}
.accordion-header{
    text-align: center;
}
/* FIM CSS AREA EMPRESA */