@charset "UTF-8";

body{
    overflow-x: hidden;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 1.3em;
    text-align: center;
}
.hide{
    display: none;
}
#obrigatorias ul li{
    padding: .4em 1.2em
}
#escondidas{
    padding: 0em;
}
menu {
    margin: 0;
}

.nav-item {
    padding: 0 2em 0 2em;
}

.topo {
    margin-top: 3.4em;
}

img {
    margin: 0 2em 0 2em;
}

.acess {
    width: 300px;
    margin: auto;
    background-color: #00a6a6;
    padding: 0.2em;
}

header, header > div{
    max-width: 100%;
}

#barra-acessibilidade img{
    margin: 0;

}

.btn{
    padding: 0;
    background-color: #3552B9;
    color: white;
}

.btnacs{
    padding: 0;
    background-color: #00a6a6;
}

.secnav {
    background-color: #1d2f6f;
    color: white;
}

/*Home principal*/

#secoes-portais > *{
    min-height: 420px;
}

#secoes-portais a{
    color: black;
    text-decoration: none;
}

#secoes-portais > * > section, div.cultura-e-turismo a{
    background-color: rgb(89, 89, 89);
}

#secoes-portais > * > section, div.cultura-e-turismo section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

#secoes-portais > * > section, div.cultura-e-turismo{
    height: 100%;
}

div.cultura-e-turismo{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div.cultura-e-turismo > *{
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#secoes-portais section div{
    background-color: rgb(184, 184, 184);
    padding: 1em;
}

/* Home Cidade */

.home-cidade{
    background-color: rgb(184, 184, 184);
}

/* Dados Gerais Cidade */

main#dados-gerais li{
    display: block;
    text-align: left;
}