@charset "UTF-8";

ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 1.3em;
    text-align: center;
}
.hide{
    display: none;
}
#obrigatorias ul li{
    padding: .4em 1.2em
}
#escondidas{
    padding: 0em;
}
menu {
    margin: 0;
}

.nav-item {
    padding: 0 2em 0 2em;
}

.topo {
    margin-top: 3.4em;
}

img {
    margin: 0 2em 0 2em;
}

.acess {
    width: 300px;
    margin: auto;
    background-color: #00a6a6;
    padding: 0.2em;
}

header, header > div{
    max-width: 100%;
}

#barra-acessibilidade img{
    margin: 0;

}

.btn{
    padding: 0;
    background-color: #3552B9;
    color: white;
}

.btnacs{
    padding: 0;
    background-color: #00a6a6;
}

.secnav {
    background-color: #1d2f6f;
    color: white;
}