@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


body {
    overflow-x: hidden;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 1.3em;
    text-align: center;
}

.hide {
    display: none;
}

#obrigatorias ul li {
    padding: .4em 1.2em
}

#escondidas {
    padding: 0em;
}

menu {
    margin: 0;
}

.nav-item {
    padding: 0 2em 0 2em;
}

.topo {
    margin-top: 3.4em;
}

img {

    max-width: 100%;
}

.acess {
    width: 300px;
    margin: auto;
    background-color: #00a6a6;
    padding: 0.2em;
}

header,
header>div {
    max-width: 100%;
}

#barra-acessibilidade img, #barra-acessibilidade2 img {
    margin: 0;

}

header .btn {
    padding: 0;
    background-color: #3552B9;
    color: white;
}

.btn-acessibilidade {
    padding: 0;
    background-color: #00a6a6;
}

.barra-acess {
    background-color: #1d2f6f;
    color: white;
}

/* Atualização Header*/

/* Navbar Principal */

.placeholder-acess {
    height: 54px;
    width: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.collapse:not(.show) li {
    display: flex;
}

/* Navbar Secundario */

div.nav-secundario{
    background-color: rgb(228, 225, 225);
}

#navSecundario > menu{
    max-width: 1000px;
}

.nav-item.btn > a{
    padding: 0;
    text-transform: uppercase;
}

.nav-item.btn > .nav-link{
    color: white;
}

.nav-item.btn:hover > .nav-link, .nav-item.btn:hover > .dropdown-toggle{
    color: black;
}

.dropdown-toggle{
    background-color: transparent;
    text-align: center;
    height: 100%;
    color: white;
    border: 0;
}

.dropdown-toggle:hover{
    background-color: rgba(0, 0, 0, 0.26);
}

.dropdown menu li a{
    width: 100%;
}

.dropdown-menu{
    background-color: rgba(226, 226, 226, 0.990);
}

/*Fim Home principal*/

#secoes-portais>* {
    min-height: 410px;
}

#secoes-portais a {
    color: black;
    text-decoration: none;
}

#secoes-portais>*>section,
div.cultura-e-turismo section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

#secoes-portais>*>section,
div.cultura-e-turismo {
    height: 100%;
}

div.cultura-e-turismo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div.cultura-e-turismo>* {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#secoes-portais section div {
    background-color: rgb(184, 184, 184);
    padding: 1em;
}

#secoes-portais > div{
    position: relative;
}

#secoes-portais .img-home-princ{
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* Home Cidade */

/* Dados Gerais Cidade */

main#dados-gerais li {
    display: block;
    text-align: left;
}

/* Acessibilidade */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 2
}

#page-acessibilidade svg{
    padding: 5px;
    fill: white;
}

#page-acessibilidade i{
    font-size: 3em;
}

#page-acessibilidade .icon{
    font-size: 4em;
}

#page-acessibilidade span.m-auto{
    display: block;
}

/* Footer */

footer{
    background-color: rgb(211, 211, 211);
    text-align: center;
}

footer .desenvolvido-por{
    max-width: 300px;
}
footer i.btn{
    font-size: 2em;
}


@media screen and (max-width: 1400px) {
    /* Atualização Header */


}

@media screen and (max-width: 1200px) {
    /* Atualização Header */

    #navPrincipal .nav-item {
        padding: 3px 10px;
        background-color: rgba(128, 128, 128, 0.068);
        margin: 2px;
    }

    #navPrincipal li a{
        width: 100%;
        text-align: left;  
    }
}

/* Pessoas Notaveis Cidade  */

.sessao-cards-pessoas-notaveis .card{
    flex-direction: row;
}

.sessao-cards-pessoas-notaveis .card-img{
    width:50%;
}

/* Fim Pessoas Notaveis Cidade */

@media screen and (max-width: 768px){
    /* Atualização Header*/

    li.dropdown{
        padding: 2px 20px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    li.dropdown a, #navPrincipal li{
        flex-grow: 1;
        text-align: left;
    }

    li.dropdown menu{
        width: calc(100% + 42px);
        margin: -3px -21px;
    }
    .nav-item.btn{
        border-radius: 0;
    }

    .nav-item.btn > a{
        text-transform: capitalize;
    }
}

.dúvida{
    background-color: rgb(197, 196, 195);
}